.header {
    width: 100%;
    height: 8%;
    padding: 0% 5%;
    top: 0px;
    position: fixed;
    z-index: 100;
    background: black;
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: left;
}
.header > .content {
    margin-top: 3px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header > .content > .champions {
    margin-left: 70px;
    margin-right: 70px;
}
.header > .icon {
    height: 100%;
    width: auto;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .icon > img {
    width: auto;
    height: 80%;
}

.content__box{
    padding: 100px 0px 100px;
}

.content__heading{
    position: relative;
    z-index: auto;
    text-align: center;
    color: black;
   
}
.style__heading{
    display: flex;
    flex-direction: column;
}
.upper__head{
    font-size: 30px;
}

.lower__head{
    font-size: 90px;
}
.heading__info{
    position: relative;
    z-index: auto;
    text-align: center;
    color: black;
    font-size: 15px;
}

.champion__list__mainpage{
    position: relative;
    z-index: auto;
    text-align: center;
}

.champion__tab__bars{
    position: relative;
    z-index: auto;
    text-align: center;
    /* display: flex;
    flex-direction: row; */
}
.search__tab{
    margin-top: 20px;
    padding: 0% 25%;
    position: relative;
    z-index: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
   
}

.search__tab__bar{
    width: 100%;
}
.champion__list{
    margin-top: 150px;
    margin-left: 50px;
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    
}
.champ{
    padding: 30px 20px 0px 15px;
    font-size: 20px;
    position: relative;
    z-index: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    justify-content: space-between;

}
.champ__image{
    background-color: gray;
    
}
.champ__name{
    padding-top: 5px ;
    text-align: left;
    font-size: 20px;  
}


.footer {
    margin-top: 60px;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer > .block_1 {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    position: inherit;
}
.footer > .block_1 > .riot_game {
    height: 100%;
}
.footer > .block_1 > .riot_game > img {
    height: 100%;
    width: auto;
}
.footer > .block_1 > .garena {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}
.footer > .block_1 > .garena > img {
    height: 100%;
    width: auto;
}
.footer > .block_1 > .vn_esport {
    height: 100%;
}
.footer > .block_1 > .vn_esport > img {
    height: 100%;
    width: auto;
}
.footer > .block_2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 13px;
}
.footer > .block_3 {
    margin-bottom: 30px;
    width: 80%;
    height: auto;
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.footer > .block_3 > .block_3_left {
    margin-right: 5%;
    height: auto;
    width: 300px;
    background: rgb(183, 233, 233);
}
.footer > .block_3 > .block_3_right {
    height: auto;
    width: 300px;
    background: rgb(183, 233, 233);
}
.footer > .block_3 > .block_3_left > .content {
    font-weight: bold;
    font-size: 18px;
}
.footer > .block_3 > .block_3_right > .content {
    font-weight: bold;
    font-size: 18px;
}

.search_box{
    display: flex;
    flex-direction: row;
}